*.log

content/auth.json
content/wp-content/advanced-cache.php
content/wp-content/backup-db/
content/wp-content/backups/
content/wp-content/blogs.dir/
content/wp-content/cache/
content/wp-content/upgrade/
content/wp-content/uploads/
content/wp-content/mu-plugins/
content/wp-content/plugins/
content/wp-content/wp-cache-config.php
content/wp-content/plugins/hello.php

.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz

wp/
vendor
tmp

.env
.DS_Store

*-docker-scripts

node_modules
